<div class="relative overflow-hidden">
  <div
    class="mt-10 mx-auto max-w-screen-xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 xl:mt-28"
  >
    <div class="text-center">
      <h2
        class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl mb-6"
      >
        {{t "Title"}}
      </h2>

      <Host::Commands />

      <Tabs @options={{this.tabs}} @onChange={{this.selectTab}} />

      {{#if (eq this.tab "Characters")}}
        <Host::Characters @characters={{this.characters}} />
      {{else if (eq this.tab "Items")}}
        <Host::Items @items={{this.items}} />
      {{/if}}
    </div>
  </div>
</div>