<div class="relative overflow-hidden">
  <div
    class="mt-10 mx-auto max-w-screen-xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 xl:mt-28"
  >
    <div class="text-center">
      <h2
        class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl mb-4"
      >
        {{@hero.name}}
      </h2>

      <Tabs @options={{this.tabs}} @onChange={{this.selectTab}} />

      {{#if (eq this.tab "Items")}}
        <Superhero::Items @items={{@hero.items}} />
      {{else if (eq this.tab "Room")}}
        <Superhero::Items @items={{@hero.room}} />
      {{else if (eq this.tab "Abilities")}}
        <Superhero::Items @items={{@hero.abilities}} />
      {{else if (eq this.tab "Information")}}
        <Superhero::Text @text={{@hero.information}} />
      {{else if (eq this.tab "Secret")}}
        <Superhero::Text @text={{@hero.secret}} />
      {{/if}}

      <div class="mt-5 max-w-md mx-auto sm:flex sm:justify-center md:mt-8 mb-4">
        <div class="rounded-md shadow">
          <a
            href={{@hero.profile}}
            rel="noopener noreferrer"
            target="_blank"
            class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-red-600 hover:bg-red-500 focus:outline-none focus:shadow-outline-red transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10"
          >
            {{t "Get Character Sheet"}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>