<div class="relative overflow-hidden">
  <div
    class="mt-10 mx-auto max-w-screen-xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 xl:mt-28"
  >
    <div class="text-center">
      <h2
        class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl mb-4"
      >
        {{this.name}}
      </h2>

      <Tabs @options={{this.tabs}} @onChange={{this.selectTab}} />

      {{#if (eq this.tab "Items")}}
        <Player::Items @items={{this.items}} />
      {{else if (eq this.tab "Room")}}
        <Player::Items @items={{this.room}} />
      {{else if (eq this.tab "Abilities")}}
        <Player::Items @items={{this.abilities}} />
      {{else if (eq this.tab "Information")}}
        <Player::Text @text={{this.information}} />
      {{else if (eq this.tab "Secret")}}
        <Player::Text @text={{this.secret}} />
      {{/if}}

      <Player::Sheet @url={{this.profile}} />
    </div>
  </div>
</div>