<ul class="mt-12 grid gap-5 max-w-lg mx-auto lg:grid-cols-2 lg:max-w-none">
  {{#each @characters as |character|}}
    <li class="flex flex-col rounded-lg shadow-lg overflow-hidden">
      <div class="flex-shrink-0">
        {{#let (link "host.superhero" this.game.hostKey character.key) as |l|}}
          <a href={{l.url}} {{on "click" l.transitionTo}}>
            {{character.name}}
          </a>
        {{/let}}
      </div>
      <div class="flex-1 bg-white p-6 font-bold">
        {{#if character.dead}}
          <span class="block">
            {{t "Dead"}}
          </span>

          <Button
            @title={{t "Bring back"}}
            @color="green"
            {{on "click" (fn this.bringback character.key)}}
          />
        {{else if character.disabled_at}}
          <span class="block">
            {{t "Unconscious"}}
            ({{format-relative character.disabled_at interval=5000}})
          </span>

          <Button
            @title={{t "Bring back"}}
            @color="green"
            {{on "click" (fn this.bringback character.key)}}
          />
        {{else}}
          <Button
            @title={{t "Knock out"}}
            @color="blue"
            {{on "click" (fn this.knockout character.key)}}
          />
          <Button
            @title={{t "Kill"}}
            @color="red"
            {{on "click" (fn this.kill character.key)}}
          />
        {{/if}}
      </div>
    </li>
  {{/each}}
</ul>