<div class="mt-6 sm:mt-5 flex flex-col sm:border-t sm:border-gray-200 sm:pt-5">
  <div class="mt-1 sm:mt-0">
    <div class="rounded-md shadow-sm">
      <select
        class="block form-select w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5"
        {{on "change" this.selectWhere}}
      >
        {{#each this.places as |place|}}
          <option selected={{eq place.key this.where}} value={{place.key}}>
            {{place.name}}
          </option>
        {{/each}}
      </select>
    </div>
  </div>

  {{#if this.where}}
    <div class="mt-3 sm:mt-2">
      <div class="rounded-md shadow-sm">
        <select
          class="block form-select w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5"
          {{on "change" this.selectWhom}}
        >
          <option></option>
          {{#each this.characters as |character|}}
            <option
              selected={{eq character.key this.whom}}
              value={{character.key}}
            >
              {{character.name}}
            </option>
          {{/each}}
        </select>
      </div>
    </div>
  {{/if}}

  {{#if (and this.where this.whom)}}
    <div class="mt-1 sm:mt-0 pt-3">
      <Button @title={{t "OK"}} @color="red" {{on "click" this.giveItem}} />
    </div>
  {{/if}}
</div>