<div class="relative overflow-hidden">
  <div
    class="mt-10 mx-auto max-w-screen-xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 xl:mt-28"
  >
    <div>
      <h2
        class="text-center text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl mb-4"
      >
        {{#let (link "host" this.game.hostKey) as |l|}}
          <a href={{l.url}} class="py-2" {{on "click" l.transitionTo}}>
            {{this.name}}
          </a>
        {{/let}}
      </h2>

      <Tabs @options={{this.tabs}} @onChange={{this.selectTab}} />

      {{#if (eq this.tab "Items")}}
        <Host::Items @items={{this.items}} @useItem={{this.useItem}} />
      {{else if (eq this.tab "Room")}}
        <Host::Items @items={{this.room}} />
      {{else if (eq this.tab "Abilities")}}
        <Host::Abilities
          @abilities={{this.abilities}}
          @useAbility={{this.useAbility}}
        />
      {{else if (eq this.tab "Information")}}
        <Player::Text @text={{this.information}} />
      {{else if (eq this.tab "Secret")}}
        <Player::Text @text={{this.secret}} />
      {{/if}}
    </div>
  </div>
</div>